.app--nav {
  padding-top: 5px;
  &-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    &-item {
      a {
        color: #40a9ff;
        padding:5px;
        font-weight: bold;

        &:hover {
          color: #1890ff;
          border-bottom: 2px solid #1890ff;
        }
      }
    }
  }
}


